h1 {
	background-color: blueviolet;
	text-align: center;
}

label {
	/* border: 2px red solid; */
	font-weight: bolder;
	font-size: 23px;
}

.colOne {
	border: 2px red solid;
	background-color: white;
}

.colTwo {
	border: 2px rgb(0, 4, 255) solid;
	background-color: white;
}

.card { 
	border: 2px rgb(38, 0, 255) solid;
	margin: 10px;
}

.histBtnRow {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Colors for UV Index */
.green {
  background-color: lightgreen;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
} 

.icons {
	height: 70px;
	width: 70px;
}

.cardTodayDate {
	font-size: 20px;
}